
body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #e5e5e5; display: flex; flex-direction: column; align-items: center; padding: 50px; }
h1 {
    font-family: 'Rouge Script', serif;
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;
    color: #1a1a1a;
    letter-spacing: 3px;
    border-bottom: 3px double #333; /*Linha dupla*/
    padding-bottom: 15px;
}
/* Grade de Livros */
.estante {
    display: grid;
    /* Isso cria colunas de 160px. Se não couber mais na direita, ele joga pra baixo */
    grid-template-columns: repeat(auto-fill, 160px); 
    gap: 30px; /* Espaço entre os livros */
    width: 100%;         /* Garante que a estante use a largura toda */
    max-width: 1200px;   /* Mas não deixa ficar gigante em telas muito largas */
    margin: 0 auto;      /* Centraliza a estante na tela */
    justify-content: start; /* Alinha tudo à esquerda */
    padding: 20px;

    border-bottom: 8px solid #c49a6c;
}
.livro-item { cursor: pointer; text-align: center; transition: 0.3s; }
.livro-item:hover { transform: translateY(-12px) scale(1.03); }
        
/* Capa Genérica (Caso o link quebre de novo) */
.capa { width: 150px; height: 220px; border-radius: 5px; box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.15); object-fit: cover; }
.estrelas-mini { color: #f1c40f; margin-top: 10px; font-size: 1.2rem; }

/* Modal */
.modal { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); justify-content: center; align-items: center; z-index: 1000; }
        
/* A Folha de Fichário Nova */
.fichario {
    background-color: #fffbdc;
    width:90%;
    max-width:500px;
    min-height: 500px;
    padding: 50px;
    border-left: 40px solid #fffbdc; /* Espaço dos furos */
    box-shadow: 20px 20px 60px rgba(0,0,0,0.5);
    position: relative;
    border-radius: 2px;
}

/* Furos Estilizados */
.furos { position: absolute; left: -25px; top: 0; bottom: 0; display: flex; flex-direction: column; justify-content: space-around; padding: 40px 0; }
.furo { width: 18px; height: 18px; background: #333; border-radius: 50%; box-shadow: inset 2px 2px 5px rgba(142, 138, 138, 0.5); }

/* Cabeçalho do Fichário */
.header-fichario { display: flex; justify-content: space-between; align-items: baseline; padding-bottom: 15px; border-bottom: 2px solid #333; /* A LINHA DIVISÓRIA */ margin-bottom: 30px; }
.header-fichario h2 { margin: 0; font-size: 1.8rem; color: #222; }
.estrelas-fichario { color: #f1c40f; font-size: 1.5rem; }

 /* Área das Notas */
.notas { color: #444; line-height: 1.6; font-size: 1.1rem; white-space: pre-wrap; font-style: italic;}
.fechar { position: absolute; top: 15px; right: 20px; cursor: pointer; font-size: 25px; color: #999; }
.fechar:hover { color: #000; }


/* O botão de adicionar no topo */
#btn-abrir-form {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 30px;
}

/* O fundo escuro que cobre a tela toda */
.modal-bg {
    display: none; /* COMEÇA ESCONDIDO */
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* A caixa branca do formulário */
.form-container {
    background: white;
    padding: 35px;
    border-radius: 12px;
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.form-container input,
.form-container textarea{
    padding:10px;
    border-radius:6px;
    border:1px solid #ddd;
    font-size:14px;
}

.form-container button{
    background:#333;
    color:white;
    border:none;
    padding:10px;
    border-radius:8px;
    cursor:pointer;
}
.star{
    font-size:28px;
    cursor:pointer;
    color:#ccc;
}

.star.active{
    color:#f1c40f;
}

.livro-item{
    position: relative;
}

.btn-delete{
    position: absolute;
    top: -8px;
    right: -8px;
    background: #ababab;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 12px;
}

@media (max-width: 768px){

    .estante{
        grid-template-columns: repeat(auto-fill, 120px);
        gap:20px;
        justify-content:center;
    }

    .capa{
        width:120px;
        height:180px;
    }

}

@media (max-width: 600px){

    .estante{
        grid-template-columns: repeat(auto-fill, 90px);
        gap:15px;
        justify-content:center;
    }

    .capa{
        width:70px;
        height:100px;
    }

    .estrelas-mini{
        font-size:12px;
    }

}

